---
layout: post-index
title: Thoughts on programming, chess, and wine (Latest Posts)
description: Thoughts on programming, chess, and wine
tags: [programming, azure, cloud, c#, .net, wine, chess]
comments: false
image:
  feature: z/rhone1.jpg
  credit: zbrad
  creditlink: https://zbrad.github.io/
---

{% for post in paginator.posts %}
  <header class="index-header">

    <h1 class="index-title">

    {% if post.link %}

        <a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}">
        <i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}
        </a>

    {% else %}

      <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">

      {% if post.image.feature %}

        <img class="index-image" src="{{ site.url }}/images/{{ post.image.feature }}" />
        <div class="index-overlay">

      {% endif %}

        {{ post.title }}

      {% if post.image.feature %}

        </div>

      {% endif %}

      </a>

    {% endif %}
    </h1>
  </header>

  <article class="index-article">
    <div class="entry-content">
      {{ post.excerpt }}
    </div>
    
    <div class="entry-meta">
      <span class="entry-date date published updated">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          <a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
          </time>
      </span>
        {% if site.reading_time %}
            <span class="entry-reading-time">
                <i class="fa fa-clock-o"></i>
                {% include read-time-index.html %}
            </span>
        {% endif %}
    </div>

</article>

{% endfor %}


{% include pagination.html %}
